{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">
    <div class="container-in-box">
        <!-- 일반 로그인 버튼 -->
        <div align="center">
            <button type="button" class="btn-login"
                    onclick="location.href='{% url 'kodeal:login_main' %}'"> 로그인 </button>
        </div>
        <!-- Django 로그인 버튼 -->
        <div align="center">
            <button type="button" class="btn-login"
                    onclick="location.href='{% url 'common:login_django' %}'"> Django로 로그인 </button>
        </div>
    </div>
</div>

{% endblock %}